# Configurações da API
PORT=3000
VERSION=v1

# Configurações do CORS
CORS_ORIGIN=http://localhost:3000

# Configurações do MongoDB (será sobrescrita pelo Docker)
MONGODB_URI=mongodb://localhost:27017/anime-list-organizer

# Autenticação Básica
BASIC_USERNAME=admin
BASIC_PASSWORD=sua_senha_aqui

# OpenAI API
OPENAI_API_KEY=sua_api_key_aqui
