# Server Configuration
NODE_ENV=development
PORT=3000
VERSION=1.0.0

# Database Configuration
MONGO_URI=mongodb://localhost:27017
MONGO_NAME=your_database_name

# Redis Configuration
REDIS_URI=redis://localhost:6379

# Secret Key
SECRET_KEY=your_secret_key

#OpenAi Configuration
OPENAI_API_KEY=your_openai_api_key

#JWT Configuration
TOKEN_EXPIRATION=24h
